strong { 
    color: limegreen;
}

tr:nth-child(even) {
    background-color: yellowgreen;
}
html {
    font-size: 20px;
  }
  @media (min-width: 320px) {
    html {
      font-size: 12px;
    }
  }
  @media (min-width: 720px) {
    html {
      font-size: 16px;
    }
  }

  body {
     margin: 0 auto
    }
  .izquierda {
    width: 40%; 
    padding: 0 0 0 5%;
    float: left
  }
    
  .contenido {
    width: 60%;
    padding: 0 5%;
    float: left
  }
  .imagenes {
    width: 70%;
     height: 50%
  }
  .conferencistas {
    width: 130px;
     height: 130px
  }